@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura.ttf');
}

body {
  margin: 0;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner {
  flex: 2;
  width: 100%;
  background-image: url("/img/banner.png");
}

.nav {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f9e5a;
  box-shadow: 0 2px 2px -2px #333;
}

.tabs {
  padding: 0;
  flex: 1;
  height: 29px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#twitch-tab {
  position: relative;
}

.live-dot {
  top: 0;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

.tab-link {
  opacity: 0.8;
  color: #fff;
  font-size: 20px;
  font-family: 'Futura';
  transition: all 0.25s ease;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.tab-link:hover {
  opacity: 1;
  cursor: pointer;
  border-bottom: 4px solid #3d5930;
}

.tab-link.active {
  opacity: 1;
  border-bottom: 4px solid #3d5930;
}

.content {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.live {
  width: 100%;
  flex: 1;
  color: #6f9e5a;
  display: flex;
  align-items: center;
  font-family: 'Futura';
  font-size: 20px;
  justify-content: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.live a {
  color: #fff;
  font-size: 15px;
  font-family: 'Futura';
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #6f9e5a;
  text-decoration: none;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.live a:hover {
  background-color: #3d5930;
}

.tab-content {
  flex: 9;
  display: none;
  padding: 10px;
  overflow-y: scroll;
}

.tab-content::-webkit-scrollbar {
  display: none;
}

.tab-content.active {
  display: flex;
  flex-flow: wrap;
}

.twitch-card {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px 1px rgba(51, 51, 51, 0.25);
}

.vod-link {
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.vod-link:hover {
  opacity: 0.2;
  background-color: black;
}

.twitch-card .thumbnail {
  width: 142px;
  background-size: cover;
  border-radius: 4px 0 0 4px;
}

.twitch-card .infos {
  width: calc(380px - 142px);
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: 'Futura';
  font-size: 15px;
  color: #6f9e5a;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
